<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>consumerImg</key>
		<string>em_102.png</string>
		<key>consumerName</key>
		<string>火星人</string>
		<key>dealKind</key>
		<string>线下交易</string>
		<key>commentTime</key>
		<string>05-20</string>
		<key>level</key>
		<string>4</string>
		<key>commentDet</key>
		<string>有一次手机坏了，下午手机修好刚开机，一个陌生的号码就打进来了，一开口就是“你电话咋一直关机？！我都打了一个下午了！你干啥去了？一个小姑娘在外地上学都不知道随时保持电话顺畅吗？！你知道你爸妈会有多担心吗？”我弱弱的问了一句“你是谁啊....”那边中气十足地说，“北门取下快递，快点儿！”</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_101.png</string>
		<key>consumerName</key>
		<string>吐槽星人</string>
		<key>dealKind</key>
		<string>线下交易</string>
		<key>commentTime</key>
		<string>04-20</string>
		<key>level</key>
		<string>2</string>
		<key>commentDet</key>
		<string>今天有一个哥们兴奋的告诉我，他已经在他心仪已久的姑娘的备胎名单上名列前茅了。。。我幽幽的回了一句，万一人家是摇号呢?</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_104.png</string>
		<key>consumerName</key>
		<string>地球人</string>
		<key>dealKind</key>
		<string>线上交易</string>
		<key>commentTime</key>
		<string>04-11</string>
		<key>level</key>
		<string>4</string>
		<key>commentDet</key>
		<string>一哥们和本班妹纸谈恋爱，后一外班妹纸写了封情书，哥们果断劈腿。本班妹纸大怒，去找&quot;小三&quot;理论，高潮来了…本班妹纸一会焉头耷脑回来了，问她，怎么样了。妹纸大吼：&quot;他妈的，是比我漂亮多了。老子是男人老子也选她了，还争个屁!</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_106.png</string>
		<key>consumerName</key>
		<string>水星人</string>
		<key>dealKind</key>
		<string>线下交易</string>
		<key>commentTime</key>
		<string>03-18</string>
		<key>level</key>
		<string>4</string>
		<key>commentDet</key>
		<string>一对恋人在山中被野人抓住说：你们吃掉对方的大便就放了你们。恋人做到了，归途中女人大哭，男人问其原因。女人伤心的说：你不爱我，不然你不会拉那么多！</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_108.png</string>
		<key>consumerName</key>
		<string>金星人</string>
		<key>dealKind</key>
		<string>线下交易</string>
		<key>commentTime</key>
		<string>03-08</string>
		<key>level</key>
		<string>2</string>
		<key>commentDet</key>
		<string>再昂贵的料理，都未必比得过饥肠辘辘时吃油炸食品的那种本能的满足感。你知道为什么我会有这种想法吗？因为我没吃过什么昂贵的料理。</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_107.png</string>
		<key>consumerName</key>
		<string>木星人</string>
		<key>dealKind</key>
		<string>线上交易</string>
		<key>commentTime</key>
		<string>02-20</string>
		<key>level</key>
		<string>4</string>
		<key>commentDet</key>
		<string>传说，每个睡上铺的同学都受到过一个诅咒：如果他们下床，那么接下来他们要用的东西就会在床上，相反假设他们上了床，等会儿他们要用的东西肯定在下面。</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_105.png</string>
		<key>consumerName</key>
		<string>海王星人</string>
		<key>dealKind</key>
		<string>线下交易</string>
		<key>commentTime</key>
		<string>02-14</string>
		<key>level</key>
		<string>4</string>
		<key>commentDet</key>
		<string>我知道一切都会好起来的。
不过照这个速度下去，应该是下辈子了。</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_102.png</string>
		<key>consumerName</key>
		<string>火星人</string>
		<key>dealKind</key>
		<string>线下交易</string>
		<key>commentTime</key>
		<string>05-20</string>
		<key>level</key>
		<string>4</string>
		<key>commentDet</key>
		<string>有一次手机坏了，下午手机修好刚开机，一个陌生的号码就打进来了，一开口就是“你电话咋一直关机？！我都打了一个下午了！你干啥去了？一个小姑娘在外地上学都不知道随时保持电话顺畅吗？！你知道你爸妈会有多担心吗？”我弱弱的问了一句“你是谁啊....”那边中气十足地说，“北门取下快递，快点儿！”</string>
	</dict>
	<dict>
		<key>consumerImg</key>
		<string>em_101.png</string>
		<key>consumerName</key>
		<string>冥王星人</string>
		<key>dealKind</key>
		<string>线下交易</string>
		<key>commentTime</key>
		<string>01-20</string>
		<key>level</key>
		<string>5</string>
		<key>commentDet</key>
		<string>有一次手机坏了，下午手机修好刚开机，一个陌生的号码就打进来了，一开口就是“你电话咋一直关机？！我都打了一个下午了！你干啥去了？一个小姑娘在外地上学都不知道随时保持电话顺畅吗？！你知道你爸妈会有多担心吗？”我弱弱的问了一句“你是谁啊....”那边中气十足地说，“北门取下快递，快点儿！”</string>
	</dict>
</array>
</plist>
