<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>foodsName</key>
		<string>麻辣小龙虾</string>
		<key>foodListimg</key>
		<string>em_104.png</string>
		<key>foodPrice</key>
		<string>99.9</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>羊蝎子四人套餐</string>
		<key>foodListimg</key>
		<string>em_105.png</string>
		<key>foodPrice</key>
		<string>188</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>醋溜肥肠</string>
		<key>foodListimg</key>
		<string>em_102.png</string>
		<key>foodPrice</key>
		<string>54</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>清蒸大鲤鱼</string>
		<key>foodListimg</key>
		<string>em_106.png</string>
		<key>foodPrice</key>
		<string>66.6</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>糖醋里脊</string>
		<key>foodListimg</key>
		<string>em_107.png</string>
		<key>foodPrice</key>
		<string>36</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>撒尿鱼丸</string>
		<key>foodListimg</key>
		<string>em_108.png</string>
		<key>foodPrice</key>
		<string>19.9</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>鱼香肉丝</string>
		<key>foodListimg</key>
		<string>em_105.png</string>
		<key>foodPrice</key>
		<string>28</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>麻辣小龙虾</string>
		<key>foodListimg</key>
		<string>em_104.png</string>
		<key>foodPrice</key>
		<string>99.9</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>皇家大鲍鱼</string>
		<key>foodListimg</key>
		<string>em_106.png</string>
		<key>foodPrice</key>
		<string>999.9</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>啤酒鸭</string>
		<key>foodListimg</key>
		<string>em_103.png</string>
		<key>foodPrice</key>
		<string>88.88</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>酱香肘</string>
		<key>foodListimg</key>
		<string>em_101.png</string>
		<key>foodPrice</key>
		<string>36</string>
	</dict>
	<dict>
		<key>foodsName</key>
		<string>逗你玩</string>
		<key>foodListimg</key>
		<string>em_108.png</string>
		<key>foodPrice</key>
		<string>99.99</string>
	</dict>
</array>
</plist>
