<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>1</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>肯德基（五道口店）</string>
		<key>shopListimg</key>
		<string>em_102.png</string>
		<key>cityName</key>
		<string>朝阳-五道口</string>
		<key>kindName</key>
		<string>美食-快餐</string>
		<key>backMoney</key>
		<string>25%</string>
		<key>isReserve</key>
		<string>0</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>海底捞（知春路店）</string>
		<key>shopListimg</key>
		<string>em_103.png</string>
		<key>cityName</key>
		<string>海淀-知春路</string>
		<key>kindName</key>
		<string>美食-火锅</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>0</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>全聚德烤鸭（三里屯店）</string>
		<key>shopListimg</key>
		<string>em_104.png</string>
		<key>cityName</key>
		<string>朝阳-三里屯</string>
		<key>kindName</key>
		<string>美食-小吃</string>
		<key>backMoney</key>
		<string>28%</string>
		<key>isReserve</key>
		<string>0</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>咖啡之翼（望京店）</string>
		<key>shopListimg</key>
		<string>em_105.png</string>
		<key>cityName</key>
		<string>朝阳-望京</string>
		<key>kindName</key>
		<string>美食-料理</string>
		<key>backMoney</key>
		<string>33%</string>
		<key>isReserve</key>
		<string>1</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>1</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>0</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>1</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>4</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>0</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>0</string>
	</dict>
	<dict>
		<key>shopListName</key>
		<string>周黑鸭黑呀一黑鸭黑鸭黑鸭一黑鸭（百子湾店）</string>
		<key>shopListimg</key>
		<string>em_101.png</string>
		<key>cityName</key>
		<string>海淀-四惠东</string>
		<key>kindName</key>
		<string>美食-糕点</string>
		<key>backMoney</key>
		<string>30%</string>
		<key>isReserve</key>
		<string>1</string>
	</dict>
</array>
</plist>
